/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 50px 20px;
    position: relative;
}

header .logo {
    max-width: 200px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3em;
    margin-top: 20px;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.cta-button {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #218838;
}

.cta-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
}

.cta-link:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
    max-width: 800px;
    width: 100%;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}

footer {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}

footer .footer-link {
    color: #fff;
    text-decoration: none;
}

footer .footer-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .cta-button {
        font-size: 1em;
        padding: 12px 24px;
    }

    section {
        padding: 20px;
    }
}
