/* Define o estilo do corpo */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

/* Centro os elementos */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* Estilo para o cabeçalho */
header {
    background-color: #222;
    padding: 50px 20px;
}

header h1 {
    font-size: 36px;
}

/* Estilo para o formulário de investimento */
.investment-form {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
}

.investment-form input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    font-size: 16px;
}

.investment-form button {
    padding: 10px 20px;
    background-color: #f39c12;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.investment-form button:hover {
    background-color: #e67e22;
}

/* Estilo do footer */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: #aaa;
}

footer a {
    color: #f39c12;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilo do QR Code */
#qrcode-container {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
